<% @page_title = "Restricted (403)" %>

  <div id="error_explanation" class="center" style="margin:auto">
    <h2 class="center" style="text-align:center">The page you were looking for is restricted.</h2>
    <p>please <%= link_to("login to access this page", :action => 'login') %></p>
   </div>
