<% @page_title = 'Welcome to the Bike Builder' %>
<div class="center"><h2>welcome to the bike builder beta!</h2></div>
<p>The following web app will guide you through the process of building your own bike from start to finish. We have stripped down the complexities of configuring a bike so it just works. Each component can affect numerous other components (i.e. the handlebars can determine the variety of wheels you can you, crazy right?) so we have broken the building process down into 4 main compartments not including the frame: the drivetrain, the front end, the wheel set, and the finishing touches. Lets get started by first selecting a FRAME.</p>

	<div class="center"><p class="middle"><%= link_to('Get Started!', :action => 'frames') %></p></div>

