<h1>Update Personal Information</h1>

<%= render 'address_form' %>

<%= link_to 'Show', :action => 'show_customer' %> |
<%= link_to 'Back to My Account', :controller => 'public', :action => 'my_account' %>
