<% if @components_bottom_bracket.photos %>
<% @components_bottom_bracket.photos.each do |photo| %>
<tr><td></td><td>
  <%= link_to((image_tag photo.data.url), (root_url + "system/data/" + photo.id.to_s + "/original/"+photo.data_file_name), :class => 'lightview', :rel => ('gallery[' + @components_bottom_bracket.name + ']')) %><br />
<%= link_to('X', {:controller => 'bottom_brackets', :action => 'delete_photo', 
	:id => @components_bottom_bracket.id, :photo => photo.id}, :class => 'remove', :title => 'remove photo')  %>
	<% photo = ("components/" + photo.id.to_s + "/original/"+ photo.data_file_name) %>
	use as product icon: 
	<%= f.radio_button :image_path, photo %>
<% end %>
<% end %>