<div id="side_menu">
	<h3>MATERIALS</h3>
<ul>
	<li>Bamboo</li>
	<li>Steal</li>
</ul>

	<h3>Size</h3>
<ul>
	<li>Custom</li>
	<li>Premade</li>
</ul>
	<h3>Model</h3>
<ul>
	<li>track</li>
	<li>coaster</li>
	<li>local</li>
	<li>road</li>
	<li>single speed</li>
	<li>commuter</li>
	<li>MTB</li>
	<li>BMX</li>
	<li>polo</li>
	<li>mixi</li>
</ul>


</div>