<% @page_title = @component %>
<div id="component_grid" style="">
<% @components.each_with_index do |component, count|  %>

	<div class="item">	
		<%= image_tag('default.png', :alt => "item", :class => "",:rel => "",
		:class => "lightview", :rel => "iframe", :title => component.name)  %><br />
		<div class="item_name"><%= component.name %><br />
	    <%= number_to_currency(component.price) %><br />
		<%= link_to('add to cart', :action => 'submit_component', :component => @component, :id => component.id) %>
		</div>
	</div>
	 <% if count == 4 %>

	<!-- end clear -->
	<% end %>

<% end %>
<div class="clear"></div>
</div><!-- end component grid -->
