<div id="side_menu">
	<h3>Components</h3>
<ul>
	<li><%= link_to('bottom brackets', :action => 'show_components', :type => 'Bottom Bracket') %></li>
	<li><%= link_to('brakes', :action => 'show_components', :type => 'Brakes') %></li>
	<li>chains</li>
	<li>chainrings</li>
	<li>cog cassettes</li>
	<li>cranks</li>
	<li>forks</li>
	<li>grips</li>
	<li>half links</li>
	<li>handlebars</li>
	<li>headsets</li>
	<li>levers</li>
	<li>pedals</li>	
	<li>rim strips</li>
	<li>saddles</li>
	<li>seat clamps</li>
	<li>seat posts</li>
	<li>stems</li>
	<li>tires</li>
	<li>tubes</li>
	<li>wheels</li>
</ul>	
</div>