<% @page_title = 'Bikes to Buy' %>


	
<%= render(:partial => 'public/partials/bikes_side_menu') %>
<% if @bike != nil %>
<%= render(:partial => 'public/partials/bikes_to_buy') %>
<% else %>
	<table class="center">
		<tr>
			<td>
			
				<h2 class="center">Browse our Bikes</h2>
				<p class="left" style="padding:20px">basically an intro on what bikes we offer. benefits of custom bike frames. get started by selecting an option on the left.</p><br /><br />
		
			</td>

		</tr>

	</table>
<% end %>
<div class="clear"></div>
