<% @page_title = 'Doing it Yourself' %>

	<table id="do_it_yourself" class="center">
		<tr>
			<td><div class="diy_cell">
				
				<h2 class="center">Bike Building Workshops</h2>
				<p>pick a workshop where you go and build your own bike. currently this is offered with the bamboo bike studio at their SF location or on one of their many tour stops.</p><br /><br />
				<div class="diy_button center"><p class="middle"><%= link_to('Get Started', :action => 'reservations') %></p></div>
				</div>
			</td>
			<td><div class="diy_cell">
				<h2 class="center">Bamboo Bike Building Kits</h2>
				<p>Order a Bamboo Bike Kit and build your own bike!</p><br /><br /><br /><br /><br /><br />
				<p class="center"><%= link_to('Get Started', :action => 'bamboo_bike_kits') %><p>
				</div>
			</td>
		</tr>

	</table>
