
<div style="min-height: 100em; display: table-cell; vertical-align: middle;margin: auto">
<p><img src="http://roamandgauge.com/images/RG_logo.jpg" style="display: block; margin: auto; padding-top:100px" align="middle" longdesc="Build. Design. Explore." /></p>
</div>
