<% @page_title = 'A Bike For Everyone' %>
<div>
<table id="features" class="center">
	<tr>
		<td><div class="feature_cell">1</div></td>
		<td><div class="feature_cell">2</div></td>
		<td><div class="feature_cell">3</div></td>
	</tr>
	
	<tr>
		<td><div class="feature_cell">4</div></td>
		<td><div class="feature_cell">5</div></td>
		<td><div class="feature_cell">6</div></td>
	</tr>
</table>
</div>
