<% @page_title = 'Bikes to Buy' %>
	<div id="side_menu">
		<h3>Components</h3>
	<ul>
		<li>bottom brackets</li>
		<li>brakes</li>
		<li>chains</li>
		<li>chainrings</li>
		<li>cog cassettes</li>
		<li>cranks</li>
		<li>forks</li>
		<li>grips</li>
		<li>half links</li>
		<li>handlebars</li>
		<li>headsets</li>
		<li>levers</li>
		<li>pedals</li>	
		<li>rim strips</li>
		<li>saddles</li>
		<li>seat clamps</li>
		<li>seat posts</li>
		<li>stems</li>
		<li>tires</li>
		<li>tubes</li>
		<li>wheels</li>
	</ul>	
	</div>
	<table id="do_it_yourself" class="center">
		<tr>
			<td><div class="diy_cell">
				
				<h2 class="center">Browse our Components</h2>
				<p>component info</p><br /><br />
				</div>
			</td>

		</tr>

	</table>
