<% @page_title = 'Finishing' %>
<div id="finishing">
<%= render(:partial => 'public/partials/workshop_progress')%>
<%= render(:partial => 'public/partials/finishing')%>

<div id="cart_links" class="center"><%= link_to('Checkout', :action => 'checkout') %> or <%= link_to('Continue Shopping', :action => 'index') %></div>
</div><!-- end Finishing Selection -->