<% @page_title = 'Browse Components' %>
<%= render(:partial => 'public/partials/components_side_menu') %>
<% if @component != nil %>
<%= render(:partial => "public/partials/sort") %>
<div id="table">
<%= render(:partial => 'public/partials/component') %>
</div>
<% else %>
	<table class="center">
		<tr>
			<td>
				
				<h2 class="center">Browse our Components</h2>
				<p>component info</p><br /><br />
				</div>
			</td>

		</tr>

	</table>
<% end %>
<div class="clear"></div>